body {
  background-color: #384157;
  color: #8f8f8f;
}
a {
  color: #c4ad66;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  color: #e3b54b;
  text-decoration: none;
  font-weight: bolder;
}

.header {
  margin: 50px 80px 50px 80px;
  text-align:center;
  background-color: inherit;
  color: #e3b54b;
  text-transform: uppercase;
  font-family: helvetica;
  letter-spacing: 5px;
  padding: 50px;
}

.suggestion {
  background-color: #312947;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 40px 20px 40px;

}

.main {
  margin: 0 auto;
}

.main h3 {
  color: #e3b54b;
  margin: auto;
}

.upvotes {
  margin: auto;
  padding: 10px;
}

.comments {
  margin: 10px 20px 10px 0px;
  padding: 10px;
}

.btn {
  color: #384157;
  border-radius: 10px;
  background-color: #8f8f8f;
}

.btn:hover {
  background-color: #E3B54B;
  color: #312947;
}

.form {
  margin-bottom: 50px;
}

#suggestform {
  width: 400px;
}
