<div class="suggestion">
  <h3>{{ post.title }}</h3>

    <div class="comments">
      <div class="container" ng-repeat="comment in post.comments">
        <span>"{{ comment.body }}"</span>

          
          <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span>

          {{ comment.upvotes }}



      </div>
  </div>



  <div class = "container">
    <a href="/#/suggestions">Back</a>
  </div>
</div>

<!-- Suggestion submit form -->
<div class="form">

    <form ng-submit="addComment()" style="margin-top: 50px">
      <h1> Submit Your Comment </h1>
      <div class="form-group">
        <input ng-model="comment" type="text" class="form-control" placeholder="Your suggestion here"></input>
      </div>
      <button type="submit" class="btn">Comment</button>
    </form>

</div>
